@{
    ViewData["Title"] = "Quản lý người dùng";
}
<h3 class="display-4 text-primary text-shadow font-weight-bold">@ViewData["Title"]</h3>

<div class="container mt-5">

    <table class="table mt-3">
        <thead>
            <tr>
                <th>Tên đăng nhập</th>
                <th>Mật khẩu</th>
                <th>Quyền</th>
                
            </tr>
        </thead>
        <tbody>
            <!-- User data will go here -->
            <tbody>
                
              
                
        <tbody>
                @foreach (var users in Model)
                {
                <tr>
                    <td>@users.TenDangNhap</td>
                    <td>
                        <i id="toggle-password-@users.NguoiDungID" class="fas fa-eye"
                            onclick="togglePassword('@users.NguoiDungID')"></i>
                        <input type="password" id="password-@users.NguoiDungID" value="@users.MatKhau">
                    </td>
                    <td>
                        @(users.PhanQuyenID == 1 ? "Admin" : "User")
                    </td>
                    <td>@users.ThongTinKhac</td>
                    <td>
                        <button class="btn btn-primary" onclick="onEdit(@users.NguoiDungID)">Chỉnh sửa</button>
                        <button class="btn btn-danger" onclick="onDelete(@users.NguoiDungID)">Xóa</button>
                    </td>
                </tr>
                }
        </tbody>
        </tbody>
    </table>
    <button class="btn btn-primary" onclick="onCreate()">Thêm người dùng</button>

</div>

<div id="modal-area-content"></div>


<script>
    onEdit = (id) => {
        $.ajax({
            type: 'GET',
            data: {
                id: id,
            },
            url: '@Url.Action("Edit", "User")',
            success: (res) => {
                $('#modal-area-content').empty();
                $('#modal-area-content').html(res);
                $('#addUserModal').modal('show');
            },
        })
    }

    onCreate = () => {
        $.ajax({
            type: 'GET',
            url: '@Url.Action("Detail", "User")',
            success: (res) => {
                $('#modal-area-content').empty();
                $('#modal-area-content').html(res);
                $('#addUserModal').modal('show');
            },
        })
    }
    onDelete = (id) => {
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: `User/Delete/${id}`,
                    method: 'DELETE',
                    success: (data) => {
                        if (data.success) {
                            Swal.fire(
                                'Deleted!',
                                data.message,
                                'success'
                            ).then((result) => {
                                location.reload();
                            });
                        }
                        else {
                            Swal.fire(
                                'Error!',
                                'Something went wrong.',
                                'error'
                            )
                        }
                    }
                })
            }
        })
    }
    function togglePassword(userId) {
        var passwordInput = document.getElementById('password-' + userId);
        var toggleIcon = document.getElementById('toggle-password-' + userId);

        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            toggleIcon.classList.add('fa-eye-slash');
            toggleIcon.classList.remove('fa-eye');
        } else {
            passwordInput.type = "password";
            toggleIcon.classList.add('fa-eye');
            toggleIcon.classList.remove('fa-eye-slash');
        }
    }

</script>
