@model eRoomIT.Models.ViewModels.RoomViewModel

@{
    ViewBag.Title = "Room Details";
}

<div class="container mt-2">
    <h2>@ViewBag.Title</h2>

    <div class="col-12 m-5 text-center">    
        <img src="~/images/@Model.SoDoPhong" alt="" width="50%" height="auto">
        <h3>@Model.TenPhong</h3>
    </div>
    
    <h4>Tổng số máy @Model.TenPhong là <strong><span style="color:blue">@Model.SoMay</span></strong> máy tính</h4>
    @if (Model.Computers != null)
    {
        <table class="table mt-3">
            <thead>
                <tr>
                    <th>Tên máy</th>
                    <th>CPU</th>
                    <th>RAM</th>
                    <th>Bộ nhớ</th>
                    <th>Màn hình</th>
                    <th>Tình trạng máy</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var computer in Model.Computers)
                {
                    <tr>
                        <td>@computer.TenMay</td>
                        <td>@computer.CPU</td>
                        <td>@computer.RAM</td>
                        <td>@computer.BoNho</td>
                        <td>@computer.ManHinh</td>
                        <td>@computer.Status!.TrangThai</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>